<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="layout::link-css"></th:block>
  <title>Add Student</title>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
  <h1>Add Book</h1>
  <form th:action="@{/students/add}" th:object="${student}" method="post">

    <div class="col-6 mb-3">
      <label class="form-label" for="mssv">MSSV:</label>
      <input class="form-control" type="text" th:field="*{mssv}" id="mssv">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="hoten">Hoten:</label>
      <input class="form-control" type="text" th:field="*{hoten}" id="hoten">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="ngaysinh">ngaysinh</label>
      <input class="form-control" type="text" th:field="*{ngaysinh}" id="ngaysinh">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="email">email:</label>
      <input class="form-control" type="text" th:field="*{email}" id="email">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="malop">Lop:</label>
      <select class="form-control" id="malop" name="malop">
        <option value="">---------Select Lop -------</option>
        <option th:each="lop : ${lops}" th:value="${lop.malop}"
                th:text="${lop.tenlop}"></option>
      </select>
    </div>
    <input type="submit" class="btn btn-primary" value = "Save">
  </form>
  <br>
  <a th:href="@{/students}">Back To List</a>
</div>
</body>
</html>